<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAKCp3IKIHgIzjCmGUA7EJyGAVFn2xqpQs</string>
	<key>GCM_SENDER_ID</key>
	<string>962027839634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michaelkivo.RutApp</string>
	<key>PROJECT_ID</key>
	<string>rutapp-f23ef</string>
	<key>STORAGE_BUCKET</key>
	<string>rutapp-f23ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962027839634:ios:278b8525807737ef73464b</string>
</dict>
</plist>